body{
    height: 100%;
    margin: 0;
    padding: 8px;
    font-family: 'Linden Hill';
}

.gamebook{
    display: block;
    height: 100%;
    font-size: large;
    justify-items: center;
    
}




footer{
    position: absolute;
    bottom: 0;
    right: 0;
    margin: 0.5em;
    font-size: 0.6em;
}
footer > p{
    margin: 0;
}