body{
    height: 100vh;
    margin: 0;
    font-family: 'Linden Hill';
}
p{
    margin: 0;
}

.base{
    color: darkred;
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100%;
    justify-items: center;
    background-image: url(../imgs/titleimage.jpeg);
    background-position: center;
    background-size: cover;
    text-align: center;
}

.titlepage{
    font-size:x-large;
}



.titlepage__title{
    text-shadow: 3px 3px black;
    font-size: 2em;
    font-weight: 600;
    margin: 0.3em;
}


.story__prompt{
    font-size: 1.5em;
    background-color: darkred;
    border-radius: 10px;
    border: black 4px solid;
    color: black;
    display: flex;
    flex-direction: column;
    margin: 2em;
    
}

.story__text{
    padding-top: 1em;
    padding-bottom: 1em;
    
}

.img-responsive{
    display: none;
}

a{
    text-decoration: none;
    color:darkred;
}

.story__link-section{
    margin-top: 1em;
    display: flex;
    flex-direction: column;
    gap: 0.3em;
    margin: 0.5em;
}

.story__link{
    border: 1px solid black;
    border-radius: 7px;
    color: black;
    background-color: rgb(82, 82, 82);
    padding: 0.7em;
    
}

.startgame{
    
    font-size: 1.5em;
    background: none;
    padding: 0;
    border: none;
}
a:visited{
    color: darkred;
}
.story__link:visited{
    color: black;
}
a:hover,.story__link:hover{
    color: red;
}



footer{
    position: absolute;
    bottom: 0;
    right: 0;
    margin: 0.5em;
    font-size: 0.6em;
}









@media (min-width: 1024px) {
    
    .story{
        justify-content: space-around;
        
    }
    
    footer{
        font-size: 0.8em;
    }



    .story__prompt{
        flex-direction: row;
        
        max-width: 80%;
        justify-self: center;
    }
    
    .story__prompt-right{
        flex-grow: 1;
        padding-bottom: 2em;
        margin-right: 1em;
        align-content: center;
        width: 50%;
    }

    .story__link-section{
        position: relative;
        bottom: 0;
        margin: 0;
    
    }

    .img-responsive{
        border-radius: 10px;
        display: block;
        width: 10%;
        object-fit: contain;
        flex-grow: 1;
        margin: 1em;
    }
}